%article
  %header
    .publication-thumbnail= image_tag @publication.thumbnail
    %h1= @publication.title
    .publication-date= @publication.created_at.to_formatted_s(:long_ordinal)
  = @publication.to_html