%h1 Publications

%menu
  = link_to 'New Publication', new_admin_publication_path

- if @publications.any?
  %ul
    - @publications.each do |publication|
      %li
        %h2= link_to publication.title, admin_publication_path(publication)
        %menu
          = link_to "edit", edit_admin_publication_path(publication)
          = link_to "destroy", admin_publication_path(publication), method: :delete, confirm: "Are you sure ?"
- else
  %p No publications yet.