@import url(http://fonts.googleapis.com/css?family=Sintony);

body {
  margin: auto;
  background-color: #312b28;
  font-family: 'Sintony', sans-serif;
  color: #e6e6e6;
  font-size: 14px;
}

.container {
  width: 680px;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  margin-left: 1em;
}

menu {
  margin: 0;
  padding: 0;

  a {
    display: inline-block;
    padding: 0 0.5em;
  }

  a:first-child {
    padding-left: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: inherit;
  }
}

form {
  input[type=text], textarea {
    display: block;
    width: 100%;
    border-radius: 0;
    border: 0px;
  }

  textarea {
    min-height: 20em;
  }

  .field, .actions {
    margin: 1em 0;
  }
}

iframe {
  border: 0;
}

header#page-header {
  background-image: url(image_path('gray_pattern.jpg'));
  padding: 2em;

  .logo {
    height: 6em;
  }
}

footer#page-footer {
  background-image: url(image_path('footer_pattern.jpg'));
  padding: 2em;
  text-align: center;

  img {
    height: 6em;
  }
}

